<div class="mt-4 walks-list">
	{% for walk in collections.list.slice(-3).reverse() %}
		{% include "list-single.njk" %}
	{%- endfor %}
</div>

<div class="text-center">
	<a href="/walks-list" class="btn btn-primary btn-large mt-16 inline-block transition transition-property-bg">View full list</a>
</div>